.header {
  border-bottom: 2px solid #000000;
  padding: 1.25rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 1.25rem;
}
.link {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.errorMsg {
  color: red;
}

.transactionsWillAppearText {
  /* text-align: center; */
  margin: 2rem 0;
  font-size: 1.5rem;
  /* color: #888; */
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
